{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "modules": true
        }
    },
    "plugins": [],
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "rules": {
        "no-console": 1,
        "no-prototype-builtins": 0,
        "no-whitespace-before-property": 2
    }
}
